.customerCourseList-container{
  display: flex;

  padding: 2rem;
  background-color: var(--table-background-color);
  color: var(--primary-text-color);
  border: var(--border-color) solid 1px;
  opacity: 0.6;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.customerCourseItem-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1.5rem;

  border: var(--border-color) solid 1px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.customerCourseItem-image {
  display: flex;
  justify-content: center;
  border: var(--border-color) solid 1px;

  margin-bottom: 0.5rem;

  width: 100%;
}

.customerCourseItem-image img{
  width: 100%;
  object-fit: cover;
}

.customerCourseItem-text{
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: var(--border-color) solid 1px;

  width: 100%;
}

.customerCourseItem-text div {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

